*
{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;

}

ul
{
    list-style: none;

}

img
{
    display: block;
    max-width: 100%;

}

.pagina
{
    display: flex;
    flex-direction: column;
    max-width: 1250px;
    padding: 20px 150px;
    margin: 0px auto;
    background: #bbccdd;

}

.pagina h1
{
    margin-bottom: 100px;
    font-size: 2.75rem;
    font-weight: bold;
    text-align: center;
    color: #112233;

}

.pagina-filmes
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;

}

.pagina-filme
{
    width: 550px;
    padding: 10px;
    background: #ffffff;

}

.filme-informacoes
{
    display: flex;
    gap: 8px;

}

.informacoes-imagem
{
    width: 210px;

}

.informacoes-texto
{
    display: flex;
    flex-direction: column;
    gap: 5px;

}

.texto-titulo h2
{
    margin-bottom: 10px;
    font-size: 1.5rem;
    font-weight: 100;
    text-align: center;
    color: #112233;

}
